### 시계열 데이터 
- 시간 데이터를 의미 
    - 년, 월, 일, 시, 분 , 초, am/pm, 요일
- datetime 라이브러리를 이용하여 시계열 데이터 
- pandas 라이브러리를 이용하여 시계열 데이터

In [3]:
# datetime 라이브러리 안에 있는 datetime이라는 class 호출
from datetime import datetime
import datetime as dt

In [4]:
time_data = '2024-07-06'

In [5]:
print(type(time_data))

<class 'str'>

In [8]:
# 문자열을 시계열 데이터로 변경 
# case1 :  datetime 라이브러리 안에 있는 datetime을 호출 
time1 = datetime.strptime(time_data, '%Y-%m-%d')
# case2 : datetime 라이브러리를 이용한 방법
time2 = dt.datetime.strptime(time_data, '%Y-%m-%d')

In [9]:
print(type(time1))

<class 'datetime.datetime'>

In [10]:
print(time1)

2024-07-06 00:00:00

### datetime 에서 사용이 되는 format 
- %Y : 년도를 전체 표시 (2024)
- %y : 년도를 축약해서 표시 (24)
- %m : 월을 표시 (07) 
- %B : 월의 이름 표시 (July)
- %b : 월의 이름을 축약해서 표시 (Jul)
- %d : 일을 표시 (06)
- %H : 24시를 기준으로 시를 표시 (15)
- %I : 12시를 기준으로 시를 표시 (03)
- %p : AM/PM을 표시
- %M : 분을 표시 
- %S : 초를 표시 
- %a : 요일을 영어로 축약해서 표시 (Sat)
- %A : 요일을 영어로 표시 (Saturday)
- %w : 요일을 숫자로 표시 (0 : 일, .... ,6 : 토)

In [12]:
# 시계열 데이터를 문자열 데이터로 변경 
time1.strftime('%y-%m-%d %A')

'24-07-06 Saturday'

In [13]:
import pandas as pd

In [14]:
time_data2 = '2024년03월01일'

In [15]:
# time_data2를 시계열로 변경 
datetime.strptime(time_data2, '%Y년%m월%d일')

datetime.datetime(2024, 3, 1, 0, 0)

In [16]:
time_data3 = '02/15/24 08:15:00'

In [17]:
datetime.strptime(time_data3, '%m/%d/%y %H:%M:%S')

datetime.datetime(2024, 2, 15, 8, 15)

In [18]:
corona = pd.read_csv('../csv/corona.csv')

In [ ]:
corona.head()

In [20]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [23]:
# corona에서 createDt 컬럼의 데이터의 타입을 시계열로 변경 
# 데이터의 타입을 변경(to) + 변경할 데이터의 타입
corona['createDt'] = pd.to_datetime(corona['createDt'])

In [24]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    datetime64[ns]
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 64.2+ KB