In [ ]:
# 라이브러리 설치 
!pip install pandas

In [ ]:
# 라이브러리 로드 
# import 라이브러리명 as 별칭 
import pandas as pd
# from 라이브러리명 import 라이브러리안에 특정 기능 as 별칭

In [ ]:
# 판다스에서 제공하는 1차원 데이터형태인 Series 데이터(class 생성)를 생성 
series_1 = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [ ]:
print(series_1)

In [ ]:
# Series 라는 Class에는 적어도 2개의 변수가 존재 
# values, index 변수 
print("Series Class에서 values라는 변수는", series_1.values)
print("Series Class에서 index라는 변수는", series_1.index)

In [ ]:
series_2 = pd.Series(
    [500, 500, 1000, 1200]
)

In [ ]:
# series 간의 합
# 같은 인덱스를 가진 value끼리 합
print(series_1 + series_2)

In [ ]:
a_list = [1,2,3,4]
b_list = [5,6,7,8]
print(a_list + b_list)

In [ ]:
series_3 = pd.Series([100, 200, 300], index=[1,2,3])
series_3

In [ ]:
print(series_1 + series_3)

In [ ]:
# Series 생성할때 index를 지정 
# 주의할 점  : 데이터(values)의 개수와 인덱스의 개수는 같아야 한다. 
series_4 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [ ]:
series_4

In [ ]:
# 기존의 series 데이터에서 index를 변경 
# class 안에 있는 변수의 데이터를 변경
series_1.index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']

In [ ]:
series_1

In [ ]:
# series class 안에 있는 rename함수를 이용
series_2.rename(
    {
        0 : 'A', 
        1 : 'B', 
        2 : 'C', 
        3 : 'D'
    }, inplace=True
)

In [ ]:
series_2

In [ ]:
series_2.index = ['A', 'b', 'C', 'D']

In [ ]:
series_2

In [ ]:
series_2.rename(
    {
        'b' : 'B'
    }, inplace=True
)

In [ ]:
# 2차원 데이터 형태인 DataFrame(class) 생성 
_values = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
df = pd.DataFrame(_values)

In [ ]:
print(df)

In [ ]:
df

In [ ]:
print('DataFrame에서 index라는 변수', df.index)
print('DataFrame에서 columns라는 변수', df.columns)
print('DataFrame에서 values라는 변수', df.values)

In [ ]:
# DataFrame에서 컬럼의 이름을 변경 
df.columns = ['A', 'B', 'C']

In [ ]:
df

In [ ]:
# axis 매개변수 : 인덱스, 컬럼중에 선택
# 'rows' // 0 -> 행을 선택(인덱스 기준)
# 'columns' // 1 -> 열을 선택(컬럼 기준)
df.rename(
    {
        'A' : 'a'
    },
    axis='columns'
)

### Dict 데이터를 이용하여 DataFrame을 생성

In [ ]:
data = {
    'name' : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40]
}
df2 = pd.DataFrame(data)

In [ ]:
df2

In [ ]:
data2 = [
    {
        'name' : 'test', 
        'age' : 20
    }, 
    {
        'name' : 'test2', 
        'age' : 30
    }, 
    {
        'name' : 'test3', 
        'age' : 40
    }
]
df3 = pd.DataFrame(data2)

In [ ]:
df3

### DataFrame에 있는 필터 기능
- 데이터프레임명.loc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 값을 기준으로 데이터프레임을 필터링
    - 컬럼의 값을 기준으로 데이터프레임을 필터링
- 데이터프레임명.iloc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 위치를 기준으로 데이터프레임을 필터링
    - 컬럼의 위치를 기준으로 데이터프레임을 필터링

In [ ]:
# df3에서 나이가 30인 데이터를 출력 
# 2차원 데이터에서 단일 데이터 출력 -> 차원 축소가 2번 
# loc 조건 -> index는 1이라는 조건, column은 age라는 조건 
df3.loc[1, 'age']

In [ ]:
# 특정 컬럼의 데이터만 출력 
# 데이터프레임명[컬럼명]
df3['age']

In [ ]:
# 데이터프레임명.loc[]
# 인덱스의 조건 : 전체
# 컬럼의 조건 : age
df3.loc[ : , 'age']

In [ ]:
# iloc[]
# 인덱스조건 : 전체
# 컬럼의 조건 : 2번째 컬럼
df3.iloc[ : , 1]

In [ ]:
# loc를 사용하여 컬럼을 전체 인덱스의 조건으로만 필터링 
df3.loc[2]

In [ ]:
# 나이가 30살 이상인 데이터를 모두 확인 
# 인덱스의 조건식 -> age가 30 이상
# 컬럼의 조건식 -> 전체
# df3에 있는 age 컬럼의 데이터를 추출해서 30 이상인 데이터를 확인 
flag = df3['age'] >= 30
df3.loc[flag]

In [ ]:
# flag에 반대인 데이터를 출력 ?
# flag의 부정을 생성 
# 비트연산자(~) -> 2진수 데이터를 역으로 변경 
# True -> 1, False -> 0
df3.loc[~flag]

### 결측치 
- 데이터프레임에서 value가 존재하지 않는 경우 
- NaN으로 표시 
- 결측치가 발생하는 이유
    - 데이터를 받아오는 과정에서 통신상 에러 
    - 데이터를 입력하는 과정에서 에러 
    - 더이상 수집하지 않는 데이터

In [ ]:
import numpy as np

In [ ]:
data = {
    'A' : [1,2,3,4,np.nan], 
    'B' : [1,2,np.nan,4,5], 
    'C' : [np.nan,2,3,4,5]
}
df4 = pd.DataFrame(data)

In [ ]:
df4

In [ ]:
np.nan == np.nan

In [ ]:
# 데이터프레임에서 결측치가 존재하는가?
# case1 데이터프레임의 정보(info)를 확인 
df4.info()

In [ ]:
# case2 결측치와 같은가? 비교연산자
# np.nan == np.nan -> False (사용 불가)
# is__함수 : 존재의 여부를 판단하는 함수
# 결측치 키워드(na)
# isna() : 결측치의 존재 여부를 판단하는 함수
df4.isna()

In [ ]:
# 결측치의 개수를 확인 
# sum() : 합계를 구하는 함수 
    # 매개변수 axis : 인덱스를 기준, 컬럼을 기준 
df4.isna().sum(axis = 1)

In [ ]:
# 결측치를 포함한 데이터를 필터링
flag_null = df4.isna().any(axis=1)
df4.loc[flag_null]

In [ ]:
# 결측치가 포함되지 않은 데이터를 필터링
df4.loc[~flag_null]

In [ ]:
# 결측치를 제거 
# 제거 키워드(drop) + 결측치(na) -> dropna()
# axis 매개변수 : 결측치가 포함된 행(0 || 'rows')을 지울것인가? 열(1 || 'columns')을 지울것인가?

df4.dropna(axis=0)

In [ ]:
# 결측치를 특정 데이터로 채워주는 함수 
# 채워준다 키워드(fill) + 결측치(na) -> fillna()
# fillna(data) -> 결측치를 data로 치환해준다. 
# 매개변수 method -> 'ffill', 'bfill'
#   ffill : 전 행의 데이터로 치환
#   bfill : 후 행의 데이터로 치환
df4.fillna(10)

In [ ]:
df4.fillna(method='ffill')

In [ ]:
df4.fillna(method='bfill')

### pandas를 이용하여 외부의 파일을 로드 
- 엑셀파일 
    - read_excel()
        - xls, xlsx 확장자로 이루어진 파일들을 로드할때 사용하는 함수 
        - 추가적으로 'openpyxl' 라이브러리를 설치가 필요한 경우가 존재 
- 그 외의 데이터 파일 
    - read_csv()
        - csv, tsv 확장자로 이루어진 파일들을 로드할때 사용하는 함수 
    - read_json()
        - json 확장자로 이루어진 파일들을 로드할때 사용하는 함수 
    - read_xml()
        - xml 확장자로 이루어진 파일들을 로드할때 사용하는 함수
    - 공통적으로 encoding 매개변수가 존재 
        - read_excel에는 해당 매개변수가 존재하지 않는다. 
        - 기본값(UTF-8)
        - CP949, EUC-KR : 파일 내에 한글로 이루어진 데이터가 존재하는 경우 encoding 에러가 종종 발생할때 encoding 변경

#### 파일의 경로 

- 절대 경로
    - 절대적인 주소값
    - 환경이 변하더라도(컴퓨터가 변경되었을때) 언제나 같은 위치를 지정
    - ex) `c:/users/admin/document/a.csv`, `https://www.google.com`
- 상대 경로
    - 상대적인 주소값
    - 환경이 변할때 주소도 같이 변경
    - ./ : 현재 작업중인 디렉토리 
    - ../ : 상위 디렉토리로 이동
    - 디렉토리명/ : 하위 디렉토리로 이동
    - ex) 상위 디렉토리 이동(../) -> csv 하위 디렉토리로 이동(csv/) -> 2014.csv : ../csv/2014.csv

In [ ]:
# csv 폴더에 있는 corona.csv 파일을 로드 
# 절대경로
corona = pd.read_csv(r'D:\python\ezen_2406\python\csv\corona.csv')

In [ ]:
# 상대경로 
# 상위 디렉토리 이동, csv 하위 디렉토리 이동, corona.csv
corona2 = pd.read_csv("../csv/corona.csv")

In [ ]:
# 상위의 데이터 n개를 확인 
corona.head(10)

In [ ]:
# 하위의 데이터 n개를 확인 
corona.tail(1)

In [ ]:
# 데이터프레임의 정보를 확인 
corona.info()

In [ ]:
# 통계적인 요약 정보를 출력하는 함수 
corona.describe()

In [ ]:
corona

In [ ]:
## 컬럼을 제거 (Unnamed: 0, seq)
# 제거 키워드(drop)
# drop() : 특정한 컬럼이나 인덱스를 제거할때 사용 
# axis 매개변수 
corona.drop(['Unnamed: 0','seq'], axis=1, inplace=True)

In [ ]:
# 컬럼의 이름을 변경 
corona.columns = ['등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적확진자', '누적확진율']

In [ ]:
corona.head(1)

In [ ]:
# 특정 컬럼의 이름을 변경 
corona.rename(
    {
        '누적확진자' : '누적의심자'
    }, axis = 1, inplace=True
)

In [ ]:
# 결측치의 개수를 확인 
corona.isna().sum()

In [ ]:
# 누적확진율 데이터에서 결측치인 데이터만 출력
# corona데이터에서 누적확진율 데이터만 출력
flag_null = corona['누적확진율'].isna()
corona.loc[flag_null]

In [ ]:
# 특정 컬럼의 데이터를 기준으로 오름차순 정렬 
# 차순정렬 키워드(sort) + 데이터(values) -> sort_values(기준이되는 컬럼)
# ascending 매개변수 : 차순정렬 방법 기본값(True) 오름차순정렬
corona.sort_values(['등록일시'], inplace=True)

In [ ]:
corona.head(10)

In [ ]:
# corona에서 인덱스의 값들을 재지정 (초기화)
# 초기화 키워드(reset) + 인덱스(index) -> reset_index()
# drop 매개변수 : 기본값(False), 기존의 인덱스를 제거할것인가?
# corona.reset_index().drop('index', axis=1)
corona.reset_index(drop=True, inplace=True)

In [ ]:
corona.head()

In [ ]:
# 총 사망자에서 60이라는 데이터만 출력하려면?
corona.loc[1, '총사망자'] - corona.loc[0, '총사망자']
corona.loc[2, '총사망자'] - corona.loc[1, '총사망자']
corona.loc[3, '총사망자'] - corona.loc[2, '총사망자']
corona.loc[4, '총사망자'] - corona.loc[3, '총사망자']



corona.loc[819, '총사망자'] - corona.loc[818, '총사망자']

In [ ]:
# 위의 코드를 819번 반복 실행하기 위해서 for문 이용
# for문을 이용하여 나온 결과 값을 1차원 데이터(list)에 저장 
daily_death = [0]

for i in range(1, len(corona), 1):
    death_cnt = corona.loc[i, '총사망자'] - corona.loc[i-1, '총사망자']
    daily_death.append(death_cnt)

print(daily_death)

In [ ]:
# 1차원 리스트 데이터를 데이터프레임에 대입 
# 파생변수를 생성 -> 새로운 컬럼을 추가 
corona['일일사망자'] = daily_death

In [ ]:
corona.head()

In [ ]:
### shift() 함수를 이용하여 일일사망자 구하기 
# shift(n) : n만큼 인덱스를 이동 시키는 함수
corona['일일사망자2'] = (corona['총사망자'] - corona['총사망자'].shift(1)).fillna(0)

In [ ]:
corona.head()

In [66]:
corona['일일사망자3'] = corona['총사망자'].diff(1).fillna(0)

In [67]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,총사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0