#### 문자열에서 제공하는 함수

In [1]:
# 문자열의 길이를 출력하는 함수 
a = "Hello"
b = " Hello "

In [2]:
print(len(a))
print(len(b))

5
7

In [3]:
print(a == b)

False

In [ ]:
# 문자의 형태를 변환 (대, 소문자를 변환)
c = "Hello world"

# 모든 문자를 대문자로 변경
print(c.upper())
# 모든 문자를 소문자로 변경 
print(c.lower())
# 대문자를 소문자로 소문자를 대문자로 변경
print(c.swapcase())
# 단어의 첫글자만 대문자로 변경
print(c.title())

In [6]:
x = "hello"
y = "Hello"
print(x == y)
# x의 데이터를 단어의 첫글자만 대문자로 변환한 뒤 비교
x = x.title()
print(x == y)

False
True

In [7]:
_list = [10, 30, 20, 40]
# 오름차순 정렬 
_list.sort()

In [8]:
print(_list)

[10, 20, 30, 40]

In [10]:
x = "hello"
# 모든 문자 대문자로 변경
x = x.upper()
print(x)

HELLO

In [13]:
# 문자열에서 시작과 끝의 공백을 제거 
a = "Hello World"
b = "  Hello World  "

In [14]:
print(a)
print(b)

Hello World
  Hello World

In [15]:
b

'  Hello World  '

In [16]:
# strip() -> 문자열에 좌우의 공백을 제거 
# lstrip() -> 문자열의 좌측(시작)의 공백 제거 
# rstrip() -> 문자열의 우측(끝)의 공백 제거 
b.strip()

'Hello World'

In [17]:
b.lstrip()

'Hello World  '

In [18]:
b.rstrip()

'  Hello World'

In [20]:
# a와 b를 비교 
print(a == b)
# b의 좌우의 공백을 제거한 뒤 비교
b = b.strip()
print(a == b)

False
True

In [21]:
price1 = "$10"
price2 = "20$"

In [22]:
print(price1 + price2)

$1020$

In [24]:
# price1과 price2를 숫자 타입을 변경하기 위해서는 '$'를 제거 
# price1에는 문자열 시작에 있는 '$'제거 
# price2에는 문자열 끝에 있는 '$'제거 
# 숫자의 타입으로 변경 
price1 = price1.lstrip('$')
price2 = price2.rstrip('$')
print(price1, price2)

10 20

In [25]:
price1 = int(price1)
price2 = int(price2)
print(price1 + price2)

30

In [ ]:
# 에러 발생 : 숫자 타입으로 변경할때 ','는 숫자로 변경이 불가능
# strip()은 문자열의 시작과 끝을 제거하는 부분으로 ','제거가 불가능
# replace() 함수를 이용하여 문자열 사이에 있는 데이터를 변환
price3 = '$1,000.99'
price3 = price3.lstrip('$')
price3 = float(price3)
print(price3)

In [27]:
price3 = '$1,000.99'
price3 = price3.lstrip('$')
# ','를 제거 
price3 = price3.replace(',', '')
print(price3, type(price3)) # 1000.99  str
price3 = float(price3)
print(price3, type(price3)) # 1000.99  float

1000.99 <class 'str'>
1000.99 <class 'float'>

In [28]:
name1 = "상품A"
name2 = "상 품 a"

In [31]:
# name2를 name1과 같은 데이터로 변환
# 문자열을 대문자로 변경
# 문자열 사이에 공백을 제거 
# name1과 name2가 같은가?
# name2.replace('a', 'A')
name2 = name2.upper()
name2 = name2.replace(' ', '')
print(name1 == name2)

True

In [32]:
# 특정 문자열을 기준으로 문자를 나눠준다. 
d = "a b c d"
print(d, type(d))

a b c d <class 'str'>

In [33]:
# 공백을 기준으로 문자열을 나눈다.
d_list = d.split()
print(d_list, type(d_list))

['a', 'b', 'c', 'd'] <class 'list'>

In [37]:
# 파일의 경로와 파일의 이름 
file_path = "c:/users/a.txt"
# 파일의 이름과 확장자를 따로 추출
# 1. '/'를 기준으로 문자열을 나눠준다.
_list = file_path.split('/')
print(_list)
# 2. _list의 마지막 문자열을 추출
file = _list[-1]
print(file)
# 3. file에서 '.'을 기준으로 데이터를 나눠준다. 
print(file.split('.'))
file_name, file_end = file.split('.')
print(file_name)
print(file_end)

['c:', 'users', 'a.txt']
a.txt
['a', 'txt']
a
txt

In [40]:
# 문자열의 시작과 비교를 하는 방법 
sql_query = "select * from user"
sql_query2 = """
    SELECT 
    * 
    from 
    user
"""

In [45]:
# sql_query와 sql_query2라는 문자열에서 문자의 시작이 select 인가?
# sql_query인 경우
# 1. 공백을 기준으로 데이터를 나눠준다. 
_query = sql_query2.split()
print(_query)
# 2. 첫번째 원소를 추출
_keyword = _query[0]
print(_keyword)
# 3. _keyword를 소문자로 변경
_keyword = _keyword.lower()
# 4. 'select'와 같은가를 비교
print(_keyword == 'select')

['SELECT', '*', 'from', 'user']
SELECT
True

In [46]:
# 문자열의 시작이 특정 문자와 같은가? 함수가 존재 
sql_query.startswith('select')

True

In [52]:
sql_query2.lstrip().lower().startswith('select')

True

In [48]:
sql_query2

'\n    SELECT \n    * \n    from \n    user\n'

### 일반 함수 
- def 키워드를 이용해서 함수를 선언 
- 특정 입력값을 가지고 작업을 실행하고 결과물을 되돌려주는 기능 
- 매개변수는 0개 이상으로 선언이 가능

In [53]:
# 매개변수가 존재하지 않은 함수를 선언 
def func_1():
    return "Hello World"
# func_1() 함수는 함수를 호출할 때마다 'Hello World' 문자열을 되돌려준다.

In [54]:
a = func_1()
b = func_1()
print(a)
print(b)

Hello World
Hello World

In [ ]:
# 에러 발생 코드 
# func_1를 호출할 때 인자 값을 대입 
# 매개변수가 존재하지 않는 함수에서 인자를 대입하면 에러 발생
c = func_1(10)
print(c)

In [56]:
# 매개 변수가 존재하는 함수 선언
def func_2(_x, _y):
    result = _x + _y
    return result
# 두개의 인자(입력값)를 받아서 더해준 다음 되돌려준다.

In [57]:
res1 = func_2(10, 5)
res2 = func_2('Hello', 'World')
print(res1)
print(res2)

15
HelloWorld

In [58]:
# func_2를 호출하면서 인자 개수를 1개를 입력
print(func_2(10))

TypeError: func_2() missing 1 required positional argument: '_y'

In [59]:
# func_2를 호출하면서 인자 개수를 3개를 입력
print(func_2(10, 20, 30))

TypeError: func_2() takes 2 positional arguments but 3 were given

In [64]:
print('Hello', end='\t')
print(10)

Hello	10

In [65]:
# 매개변수가 존재하는 함수 선언 (매개변수에 기본값을 지정을 하는 경우)
def func_3(_x, _y = 10):
    result = _x + _y
    return result

In [66]:
print(func_3(5))
# func_3() 호출  : 인자 5
#  _x = 5, _y = 10
# result라는 변수를 생성하여 5 + 10의 결과를 대입 
# result를 되돌려준다.
# _x, _y, result라는 공간을 초기화(휘발성 데이터)

15

In [67]:
print(func_3(10, 50))
# func_3() 호출 : 인자 10, 50
# _x = 10 대입
# _y = 10 대입 -> _y = 50 대입
# result 변수를 생성하여 10 + 50의 결과를 대입
# result를 되돌려준다.
# _x, _y, result라는 공간을 초기화(휘발성 데이터)

60

In [70]:
print(
    sum(
        [10, 20, 30]
    )
)

60

In [71]:
# sum() 함수와 같은 기능을 가진 함수를 선언
# 매개변수 1개
def sum_c(_data):
    # _data는 튜플이나 리스트의 형태로 데이터가 입력
    # ex) _data = (10, 20, 30) -> 10 + 20 + 30의 결과를 되돌려준다.
    # result = _data[0] + _data[1] + _data[2]
    #   result += _data[0], result += _data[1], result += _data[2]
    # 합계라는 초기값 변수를 생성
    result = 0
    for i in range(0, len(_data), 1):
        # result에 누적합
        result += _data[i]
    # result를 되돌려준다.
    return result

In [72]:
print(sum_c(
    [10, 20, 30]
))

60

In [75]:
# 평균을 구하는 함수를 선언
# 매개변수 1개
def mean_c(_data):
    # 합계를 구하는 부분 
    # 합계라는 초기 값을 지정 
    # result = 0
    # for i in _data:
    #     # i에 대입이 되는 데이터는 _data에 각 원소의 값
    #     print(i)
    #     result += i
    result = sum_c(_data)
    # 평균 -> 합계 / 개수
    mean_result = result / len(_data)
    # 평균을 되돌려준다. 
    return mean_result

In [76]:
print(mean_c([10, 20, 30]))

20.0

In [77]:
# 인자의 개수가 가변인 경우 
def func_4(*args):
    print(args)
    print(type(args))

In [79]:
print(func_4(1,2,3,4))

(1, 2, 3, 4)
<class 'tuple'>
None

In [81]:
print(_list.sort())

None

In [82]:
print(func_4('a', 'b', 'c', 'd', 'e'))

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>
None

In [ ]:
# 인자의 개수가 가변인 함수를 생성하여 인자값들의 평균을 되돌려주는 함수를 생성
# 매개변수 : 가변 인자값을 담을수 있는 1개의 매개변수

# 함수(mean_c2)를 선언

    # 가변으로 들어온 인자값들의 합계를 변수에 대입 

    # 합계 / 인자의 개수의 결과는 변수에 대입 

    # 평균 결과를 되돌려준다.

In [ ]:
print(mean_c2(1,2,3,4,5,6,7,8,9,10))